@model string

@{
    ViewData["Title"] = "ChangeUserPic";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<form action="/UserManage/ChangeUserPic" class="form-horizontal" enctype="multipart/form-data" method="post">



    <div class="form-group">
        <label for="Text" class="control-label col-sm-12">Picture <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-12">
            <input name="ProfilePic"
                   data-default-file="/@Model"
                   required
                   type="file" class="dropify"
                   data-show-loader="true"
                   accept="image/gif, image/jpeg, image/png , image/bmp , image/jpg"
                   id="ProfilePic" size="50">

        </div>
    </div>


    <button type="submit" class="btn btn-block btn-success">Submit</button>


</form>


