fieldset.scheduler-border {
    border: 2.5px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
}
.vertical-center {
    margin-top: auto !important;
    margin-bottom: auto !important;
    vertical-align: middle !important;
}

.display-inherit {
    display: inherit
}

.input-group-prepend {
    display: -ms-flexbox;
    display: flex
}

.center-content-page {
    height: auto;
    background-image: url('/Images/elevatorBack (2).png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 10px;
    height: 100% !important
}

thead > tr:nth-child(2) > th {
    background-color: #FFF !important;
    color: #000 !important;
}

thead > tr:first-child > th {
    background-color: #4c84ff !important;
    color: #FFFFFF !important;
}

.pagination-div {
    background-color: #FFF !important;
}

.bodycontainer {
    max-height: 356px;
    min-height: 356px;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    background-color: #FFF;
}

.table-scrollable {
    margin: 0;
    padding: 0;
}

.tableFixHead {
    overflow-y: auto;
    height: 100px;
}

    .tableFixHead thead th {
        position: sticky;
        top: 0;
    }


.UserPicture{
    cursor:pointer;
}

.direction-ltr {
    direction: ltr !important;
}


.direction-rtl {
    direction: rtl !important;
}


.hr-random {
    height: 1.5px !important;
}

.tr-selected {
    background-color: #ffd800 !important;
}

    .tr-selected:hover {
        background-color: #ffd800 !important;
    }


/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 10000000000000000000000;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 15px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -ms-box-shadow: rgba(252, 251, 251, 0.75) 1.5em 0 0 0, rgba(252, 251, 251, 0.75) 1.1em 1.1em 0 0, rgba(252, 251, 251, 0.75) 0 1.5em 0 0, rgba(252, 251, 251, 0.75) -1.1em 1.1em 0 0, rgba(252, 251, 251, 0.75) -1.5em 0 0 0, rgba(252, 251, 251, 0.75) -1.1em -1.1em 0 0, rgba(252, 251, 251, 0.75) 0 -1.5em 0 0, rgba(252, 251, 251, 0.75) 1.1em -1.1em 0 0;
            -moz-box-shadow: rgba(252, 251, 251, 0.75) 1.5em 0 0 0, rgba(252, 251, 251, 0.75) 1.1em 1.1em 0 0, rgba(252, 251, 251, 0.75) 0 1.5em 0 0, rgba(252, 251, 251, 0.75) -1.1em 1.1em 0 0, rgba(252, 251, 251, 0.75) -1.5em 0 0 0, rgba(252, 251, 251, 0.75) -1.1em -1.1em 0 0, rgba(252, 251, 251, 0.75) 0 -1.5em 0 0, rgba(252, 251, 251, 0.75) 1.1em -1.1em 0 0;
            -webkit-box-shadow: rgba(252, 251, 251, 0.75) 1.5em 0 0 0, rgba(252, 251, 251, 0.75) 1.1em 1.1em 0 0, rgba(252, 251, 251, 0.75) 0 1.5em 0 0, rgba(252, 251, 251, 0.75) -1.1em 1.1em 0 0, rgba(252, 251, 251, 0.75) -1.5em 0 0 0, rgba(252, 251, 251, 0.75) -1.1em -1.1em 0 0, rgba(252, 251, 251, 0.75) 0 -1.5em 0 0, rgba(252, 251, 251, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(252, 251, 251, 0.75) 1.5em 0 0 0, rgba(252, 251, 251, 0.75) 1.1em 1.1em 0 0, rgba(252, 251, 251, 0.75) 0 1.5em 0 0, rgba(252, 251, 251, 0.75) -1.1em 1.1em 0 0, rgba(252, 251, 251, 0.75) -1.5em 0 0 0, rgba(252, 251, 251, 0.75) -1.1em -1.1em 0 0, rgba(252, 251, 251, 0.75) 0 -1.5em 0 0, rgba(252, 251, 251, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}