@model DataLayer.ViewModels.User.RegisterViewModel
@{
    ViewData["Title"] = "صفحه ورود";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<style>
    .fullscreen-bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-position: 70% 40%;
        background: url('/images/ElevatorBack2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        min-width: 100%;
        min-height: 100%;
    }

    html {
    }
</style>

<div class="fullscreen-bg">

</div>

<div class="wrapper default">
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box">
                    
                    <div class="account-box-title text-center">ثبت‌نام در تاپ کالا</div>
                    @if (ViewBag.ErrorMessages != null)
                    {
                        <div class="message-light">
                            @ViewBag.ErrorMessages
                        </div>
                    }

                    <div class="account-box-content">
                        <form class="form-account" asp-action="Register" asp-controller="Account">
                            <div class="form-account-title">نام کاربری</div>

                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>
                                <input class="input-field" asp-for="UserName" type="text" placeholder="نام کاربری خود را وارد کنید">
                            </div>
                            <div class="form-account-title">ایمیل</div>
                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons ui-1_email-85"></i></label>
                                <input class="input-field" type="email" asp-for="Email" placeholder="پست الکترونیک  را وارد نمایید">
                            </div>

                            <div class="form-account-title">شماره تماس</div>
                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons tech_mobile"></i></label>
                                <input class="input-field" type="text" asp-for="PhoneNumber" placeholder=" شماره موبایل خود را وارد نمایید">
                            </div>

                            <div class="form-account-title">کلمه عبور</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </label>
                                <input class="input-field" asp-for="Password" type="password"
                                       placeholder="کلمه عبور خود را وارد نمایید">
                            </div>
                            <div class="form-account-title"> تکرار کلمه عبور </div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </label>
                                <input class="input-field" asp-for="RePassword" type="password"
                                       placeholder="تکرار کلمه عبور خود را وارد نمایید">
                            </div>

                            <div class="form-account-agree">
                                <label class="checkbox-form checkbox-primary">
                                    <input asp-for="IsAccept" type="checkbox">
                                    <span class="checkbox-check"></span>
                                </label>
                                <label for="agree">
                                    <a href="#" class="btn-link-border">حریم خصوصی</a> و <a href="#"
                                                                                            class="btn-link-border">شرایط و قوانین</a> استفاده از سرویس های سایت
                                    تاپ کالا را مطالعه نموده و با کلیه موارد آن موافقم.
                                </label>
                            </div>
                            <div class="form-account-row form-account-submit">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info">
                                        ثبت نام در تاپ کالا
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="account-box-footer">
                        <span>قبلا در تاپ کالا ثبت‌نام کرده‌اید؟</span>
                        <a href="/Account/Login" class="btn-link-border">وارد شوید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="mini-footer">
        <nav>
            <div class="container">
                <ul class="menu">
                    <li>
                        <a href="#">درباره لیفت بازار</a>
                    </li>
                    <li>
                        <a href="#">تماس با ما</a>
                    </li>
                    <li>
                        <a href="#">درخت کاری</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="copyright-bar">
            <div class="container">
                <p>
                    استفاده از مطالب فروشگاه اینترنتی لیفت‌بازار فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به لیفت‌بازار می‌باشد.
                </p>
            </div>
        </div>
    </footer>
</div>